{% extends "base.html" %}

{% block content %}
<div class="container">

{% load static %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  {% for g in games %}
  {% if forloop.counter == 1 %}
  <li class="active"><a1 href={{g.in_tag}} role="tab" data-toggle="tab">
  <img src="{% static g.a_s_logo %}" alt="logo" style="width:18px;height:18px;">
  {{g.a_tri}}<br>
  <img src="{% static g.h_s_logo %}" alt="logo" style="width:18px;height:18px;">
  {{g.h_tri}}<br>
  {{g.time}}
  </a></li>
  {% else %}
  <li><a href={{g.in_tag}} role="tab" data-toggle="tab">
  <img src="{% static g.a_s_logo %}" alt="logo" style="width:18px;height:18px;">
  {{g.a_tri}}<br>
  <img src="{% static g.h_s_logo %}" alt="logo" style="width:18px;height:18px;">
  {{g.h_tri}}<br>
  {{g.time}}
  </a></li>
  {% endif %}
  {% endfor %}
</ul>
</li>

<!-- Tab panes -->
<div class="tab-content">
  {% for g in games %}
  
	  <div class="tab-pane {{g.active}}" id={{g.out_tag}}>
	  <center>
	  <h1 style="font-size:1.5em">
	  {{g.time}}
	  </h1>
	  <h1 style="font-size:2.5em">
	  <img src="{% static g.a_logo %}" alt="logo" style="width:100px;height:100px;">
	  {{g.a_team_name}} at {{g.h_team_name}}
	  <img src="{% static g.h_logo %}" alt="logo" style="width:100px;height:100px;">
	  </h1>
	  
  
	  <table border="1" id="game-table">
	  <tr>
	  <th><b>Tip off won:</b></th>
	  <th>{{g.away_tip_off_won}} / {{g.away_game_played}} ({{g.away_tip_off_won_p}}%)</th>
	  <th>{{g.home_tip_off_won}} / {{g.home_game_played}} ({{g.home_tip_off_won_p}}%)</th>
	  </tr>
	  
	  <tr>
	  <th><b>Scored first after winning tip off:</b></th>
	  <th>{{g.away_scored_first_after_winning_tip_off}} / {{g.away_tip_off_won}} ({{g.away_scored_first_after_winning_tip_off_p}}%)</th>
	  <th>{{g.home_scored_first_after_winning_tip_off}} / {{g.home_tip_off_won}} ({{g.home_scored_first_after_winning_tip_off_p}}%)</th>
	  </tr>
	  
	  <tr>
	  <th><b>Scored first:</b></th>
	  <th>{{g.away_scored_first}} / {{g.away_game_played}} ({{g.away_scored_first_p}}%)</th>
	  <th>{{g.home_scored_first}} / {{g.home_game_played}} ({{g.home_scored_first_p}}%)</th>
	  </tr>
	  
	  <tr>
	  <th><b>First shot three:</b></th>
	  <th>{{g.away_first_shot_three}} / {{g.away_game_played}} ({{g.away_first_shot_three_p}}%)</th>
	  <th>{{g.home_first_shot_three}} / {{g.home_game_played}} ({{g.home_first_shot_three_p}}%)</th>
	  </tr>
	  
	  <tr>
	  <th><b>Foul during first defence:</b></th>
	  <th>{{g.away_foul_first_defence}} / {{g.away_game_played}} ({{g.away_foul_first_defence_p}}%)</th>
	  <th>{{g.home_foul_first_defence}} / {{g.home_game_played}} ({{g.home_foul_first_defence_p}}%)</th>
	  </tr>
	  
	  <tr>
	  <th><b>Offensive efficiency:</b></th>
	  <th>{{g.away_shot_made}} / {{g.away_total_shots}} ({{g.away_shot_made_p}}%)</th>
	  <th>{{g.home_shot_made}} / {{g.home_total_shots}} ({{g.home_shot_made_p}}%)</th>
	  </tr>
	  
	  <tr>
	  <th><b>Jumpers:</b></th>
	  <th>
	  {% for j in g.away_jumpers %}
	  {{j.name}} - {{j.elo}} ({{j.jumps}})<br>
	  {% endfor %}
	  </th>
	  <th>
	  {% for j in g.home_jumpers %}
	  {{j.name}} - {{j.elo}} ({{j.jumps}})<br>
	  {% endfor %}
	  </th>
	  </tr>

      <tr>
	  <th><b>First shooters:</b></th>
	  <th>
	  {% for j in g.away_shooters %}
	  {{j.name}} {{j.made}}/{{j.total}} ({{j.percentage}}%)<br>
	  {% endfor %}
	  </th>
	  <th>
	  {% for j in g.home_shooters %}
	  {{j.name}} {{j.made}}/{{j.total}} ({{j.percentage}}%)<br>
	  {% endfor %}
	  </th>
	  </tr>
	  
	  
	  <tr>
	  <th><b>First shooters:</b></th>
	  <th>
	  {% for j in g.away_scorers %}
	  {{j.name}} {{j.made}}<br>
	  {% endfor %}
	  </th>
	  <th>
	  {% for j in g.home_scorers %}
	  {{j.name}} {{j.made}}<br>
	  {% endfor %}
	  </th>
	  </tr>
	  
	  
	  </table>  
      <table>
  	  {% for j in g.probs %}
  	  <!--
  	  <h1 style="font-size:1em">{{j.j1}} has {{j.pj}}% of probability of beat {{j.j2}}. {{j.team}} have a probability of {{j.ps}}% ({{j.am}}) to score first. Odds from Fanduel for home team is {{g.h_odds}} and away team is {{g.a_odds}}</h1>
  	  -->
      <tr>
      <th>
  	  {{j.j1}} {{j.pj1}}%
  	  </th>
  	  <th>
  	  <img src="data:image/png;base64, {{j.chart_pl|safe}}" style="width:100px;height:80px">
  	  </th>
  	  <th>
  	  {{j.j2}} {{j.pj2}}% 
  	  </th>
  	  <th>
  	  {{j.team1}} {{j.ps1}}% ({{j.am1}})
  	  </th>
  	  <th>
  	  <img src="data:image/png;base64, {{j.chart_te|safe}}" style="width:100px;height:80px">
  	  </th>
  	  <th>
  	  {{j.team2}} {{j.ps2}}% ({{j.am2}})
  	  </th>
  	  </tr>
  	  {% endfor %}
      </table>
	  </center>
	  </div>
  {% endfor %}
</div>
<script>
$('#game-table tr th:contains("%")').each(function(){
var idx_end = $(this).text().indexOf("%");
var idx_start = idx_end - 4;

var floatValue = +($(this).text().substr(idx_start, idx_end-idx_start));
if (floatValue > 70.0){
$(this).css('color', 'green');
}
else if (floatValue < 40.0){
$(this).css('color', 'red');
};
})
</script>
{% endblock %}
